<div class="col-sm-12" ng-controller="LoadCtrl">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="col-sm-12 text-center" id="dvLogin">
            <img src="img/logo.png" class="img-responsive" style="display:inline-block;" />
            <br/>
            <br/>
            <p class="text-info"><strong>Espere un momento</strong><br/>Obteniendo datos de sus empresa</p>
            <br/>
            <img src="img/load.gif" class="img-responsive" style="display:inline-block;" />
        </div>
    </div>
</div>
