<div class="modal-header">
    <h5 class="modal-title">¿Desea crear el periodo?</h5>
</div>
<div class="modal-body">
    <p>El periodo que esta buscando no se ha encontrado</p>
    <p>
        Ejercicio: <strong>{{ Ejercicio }}</strong><br />
        Periodo: <strong>{{ Periodo }}</strong>
    </p>
    <h2 class="text-center">¿Deseas crearlo?</h2>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Si</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
</div>
